{% extends "base.html" %}

{% block content %}
    <section id="social-media" class="shadow" class="block-black" style="width: auto; height: auto; padding: 0; margin: 0;">
        <div class="inner">
            <div class="social-media-content">
                <a href="#" target="_blank" class="social-icon"><i class="fas fa-phone-alt"></i></a>
                <h1 class="oswald phone">987 654 321</h1>
                <a href="https://www.facebook.com/interpol" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/interpol/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://open.spotify.com/artist/3WaJSfKnzc65VDgmj2zU8B" target="_blank" class="social-icon"><i class="fab fa-spotify"></i></a>
                <a href="https://www.youtube.com/channel/UCoZTVNXGrbWMo-zH1seGMFg" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </section>
{% endblock %}