{% extends "base.html" %}

{% block content %}
<section class="block-black">
    <div class="padded">
        <h1 class="oswald title">LABEL</h1>
        <div class="division"></div>
        <div class="container" style="background-color: white; padding-right: 0px; padding-left: 0px;">
            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                <table class="table table-striped table-bordered table-hover">
                  <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Year</th>
                        <th>Label</th>
                    </tr>
                  </thead>
                  <tbody id="tbody-studio-albums">
                    <tr>
                        <td>1</td>
                        <td>Turn On The Bright Lights</td>
                        <td>2002</td>
                        <td>Matador Records</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Antics</td>
                        <td>2004</td>
                        <td>Matador Records</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Our Love To Admire</td>
                        <td>2007</td>
                        <td>Capitol Records</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Interpol</td>
                        <td>2010</td>
                        <td>Matador Records</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>El Pintor</td>
                        <td>2014</td>
                        <td>Matador Records</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Spotify Sessions</td>
                        <td>2015</td>
                        <td>Spotify</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Marauder</td>
                        <td>2018</td>
                        <td>Matador Records</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}